@import "../../scss/constants";

.container {
    display: flex;
    justify-content: space-between;

    .bullets {
        display: flex;

        .bullet {
            margin: 0 5px;
            font-size: 20px;
            font-weight: 700;
            font-style: italic;
            transition: 0.3s;
            cursor: pointer;
            color: $grey;

            @media screen and (max-width: 600px) {
                font-size: 15px;
                margin: 0 3px;
            }

            @media screen and (max-width: 400px) {
                font-size: 12px;
                margin: 0 2px;
            }

            &:hover {
                transform: scale(1.15);
            }

            &.active {
                color: $green;
            }
        }
    }

    .arrow {
        margin: 0 40px;
        font-size: 24px;
        font-weight: 700;
        transition: 0.3s;
        cursor: pointer;

        @media screen and (max-width: 600px) {
            font-size: 16px;
            margin: 0 20px;
        }

        @media screen and (max-width: 400px) {
            font-size: 15px;
            margin: 0 10px;
        }

        &.inactive {
            opacity: 0.5;
            cursor: default;

            &:hover {
                transform: none;
            }
        }

        &:hover {
            transform: scale(1.08);
        }
    }
}
